body {
    
}

#banner {
    width: 100%;
}

.principal {
    background: #919191;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado  {
    text-align: center;
}

p {
    text-align: center;
} 

#missao {
    font-size: 20px;
}

em strong {
    color: #ff0000;
}

.itens {
    font-style: italic;
}

.benefícios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: 10%;
}

.imagembeneficios {
    width: 15px;
    
}

=======
.fertilizante {
    padding: 1px;
}





.adubo {
    padding: 1px;
}
>>>>>>> b2494f4b3d7130e1e86db426b50520d52c44aecc